.layout {
  text-align: center;

  margin-left: 30vw;
  margin-right: 30vw;
}

@media only screen and (max-width: 801px) {
  .layout {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (max-width: 521px) {
  .layout {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
