.alphaButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.refreshButton {
  width: 3rem;
  margin-top: 0.5vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(164, 164, 164);
  transition: ease-in-out 0.3s;
}

.refreshButton:hover {
  background-color: rgb(199, 199, 199);
  box-shadow: 0px 0px 10px 5px rgb(120, 114, 138) inset;
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 801px) {
  .refreshButton {
    width: 2.5rem;
    margin-top: 0.5vw;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 521px) {
  .refreshButton {
    width: 1.5rem;
    margin-top: 0.5vw;
    padding: 0.5rem;
  }
}
